<!-- app/views/photos/_comment_form.html.erb -->
<%= form_with(model: @post.comments.build, url: post_comments_path(@post)) do |form| %>
    <%= form.hidden_field :commentable_id, value: @post.id %>
    <%= form.hidden_field :commentable_type, value: @post.class.to_s %>
    <% if current_user %>
        <%= form.hidden_field :anonymous, value: false %>
    <% else %>
        <%= form.label :anonymous, 'Comentar como anónimo' %>
        <%= form.check_box :anonymous %>
    <% end %>
    <div class="input-group field">
        <%= form.text_area :content, placeholder: 'Escribe un comentario...' ,aria_label:"input group example", aria_describedby:"btnGroupAddon",class:"form-control"%>

   
        <%= form.submit 'Agregar comentario', class: 'input-group-text bg-primary text-white', id:"btnGroupAddon" %>
   
  </div>


<% end %>
