<div id="<%= dom_id post %>" class="card">

  <%= image_tag post.try(:photo),class:"card-img-top" ,alt:"post"%>
  <div class="card-body">
  <h5 class="card-title" >
    <%= post.user.name %>
  </h5>
  <p class="card-text">
    <%= post.description %>
  </p>
  </div>
    <div class="card-footer text-end bg-transparent">
      <% if current_page?(post_path(post.id)) %>
        <!-- Mostrar comentarios existentes -->
        <%= render 'comment' ,post:post%>
        <!-- Formulario para agregar nuevos comentarios -->
        <%= render 'comment_form', commentable: @post %>
      <% else %>
        <% last_comment = post.comments.last %>
        <% if last_comment %>
          <div class="comment">

            <p><strong><%= last_comment.user.present? ? last_comment.user.name : "Anonimo"  %>:</strong> <%= last_comment.content %></p>
          </div>
        <% end %>
      <% end %>
      <% if controller_name == 'posts' && action_name != 'show' %>
      <p class="text-end">
        <%= link_to "Show this post", post ,class:"btn btn-primary"%>
      </p>
      
      <% end %>
      
   </div>
</div>
